.signup-page {
    display: flex;
    min-height: 100vh;
    background-color: #f6f1e7;
}

.signup-page__image {
    flex: 1;
}

.signup-page__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.signup-page__form {
    flex: 1.2;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6f1e7;
}

.signup-title {
    font-family: 'Playfair Display', serif;
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color: #373736;
}

.signup-subtext {
    font-size: 1rem;
    color: #7D7461;
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1.2rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 34rem;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid #BFB7AD;
    border-radius: 999px;
    background-color: #fefefe;
    font-family: 'Inter', sans-serif;
}

.user-type-buttons {
    display: flex;
    width: fit-content;
    gap: 1rem;
    justify-content: center;
}

.user-type-buttons button {
    width: 17.5rem;
    padding: 0.75rem 1rem;
    border: 1px solid #BFB7AD;
    border-radius: 999px;
    font-size: 1rem;
    background-color: #fefefe;
    cursor: pointer;
}


.user-type-buttons button:hover {
    background-color: #eae2d7;
}

.signup-submit {
    margin-top: 1.5rem;
    width: 36rem;
    padding: 0.75rem;
    background-color: #D4AF7F;
    color: #3D3D3D;
    border: none;
    border-radius: 999px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.signup-submit:hover {
    background-color: #c89c64;
}

.signup-login-link {
    margin-top: 1.2rem;
    text-align: center;
    font-size: 0.9rem;
    color: #7D7461;
}

.signup-login-link a {
    color: #B68E63;
    text-decoration: none;
    font-weight: 500;
}

.signup-login-link a:hover {
    text-decoration: underline;
}

.input-error {
    font-size: 1rem;
    border-radius: 999px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 1.2rem;
    border: 2px solid red;
}